
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.userTitle {
    margin-bottom: 40px;
    opacity: 0.8;
    color: #efb810;
    background-color: #000;
}

.todoTitle {
    color: #efb810;
    background-color: #000;
    opacity: 0.8;
    margin-bottom: 0;
    margin-top: 20px;

}


.appContainer {
    text-align: center;
    height: 1500px;
    padding: 5px;
    padding-top: 30px;
    background: rgb(236,173,202);
    background: radial-gradient(circle, rgba(236,173,202,1) 2%, rgba(238,174,202,1) 10%, rgba(221,169,203,1) 16%, rgba(0,97,212,1) 100%);


}

.container {
    border: solid 1px #000;
    margin-top: 10px;
    padding: 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(12,27,18,1) 59%, rgba(0,212,255,1) 100%);
}

.todoContainer {
    margin-top: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.newTodo {
    background: rgb(14,0,255);
    background: linear-gradient(90deg, rgba(14,0,255,1) 0%, rgba(9,9,121,1) 83%, rgba(0,0,0,1) 100%);
    padding: 5px;
    color: #fff;
    font-size: 20px;
}

.newTodo button{
    border: none;
    background: #47667b;
    margin-left: 40px;
    float: right;
    color: #fff;
    width: 20%;
    transition: 0.5s;
}

.newTodo button:hover {
    background: rgb(14,0,255);
    border: solid 1px #fff;
}

.todoInput input {
    margin-right: 10px;
}

.todoInput button {
    color: #fff;
    background: rgb(14,0,255);

}

input {
    background: none;
    color: #fff;
    border: none;
    outline: none;
    border-bottom: solid 1px rgba(0,212,255,1);

}

input:after {
    border-bottom: solid 1px #efb810;
}

.todoInput button:hover{
    background-color: rgba(0,212,255,1);
}

.buttonDelete {
    color: #fff;
    background: #47667b;
}

.buttonDelete:hover {
    background-color: rgba(0,212,255,1);
}